li{
    color: rgb(77, 76, 78);
}
body{
    font-weight: 400;
    font-family: Geneva, Verdana, sans-serif, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 2.2em;
    color: #595656;
    margin: 15px;
}
header{
    background-color: rgb(238, 138, 201);
}
body{
    background-color: rgb(237, 195, 221);
}
.carousel-item img{
    max-width: 60%;
    max-height: 500px;
    margin: 0 auto; 
    object-fit: cover;
}
.carousel-caption h5 {
    font-family: 'Arial', sans-serif;
    font-size: 2rem; 
    font-weight: bold;
    text-shadow: 3px 3px 6px rgb(255, 255, 255);
    color: #000000;
}

.carousel-caption p {
    font-family: 'arial', serif;
    text-shadow: 2px 2px 5px rgb(255, 255, 255);
    font-size: 1.5rem;
    color: #020001;
}

h1{
    font-size: 45px;
    color: #303030;
    padding: 25px;
    text-align: center;
}
section, footer{
    color: black;
}
h2{
    font-size: 20px;
    color:#303030;
    font-weight: 600;

}
nav li a{
    color: aliceblue;
    text-decoration: none;
    padding: 40px;
}
nav li{
    float: left;
}
nav ul{
    float: right;
    list-style: none;
}
.nav{
    color: black;
    padding: 5px 10px; 
    outline: 3px solid rgba(216, 153, 171, 0.484);
    outline-offset: 4px; 
    text-decoration: none;
}
